
$brand-1 := #5DB18C;
$brand-2 := #8BDFAF;
$brand-3 := #C5EFD7;
$brand-4 := #E2F7EB;
$secondary-1 := #011659;
$secondary-2 := linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #302C5E;
$secondary-3 := #98659E;
$gradient-1 := linear-gradient(90deg, #3C68DC 0%, #9D659E 70.83%);
$gradient-2 := linear-gradient(90deg, #011659 0%, #8BDFAF 100%);
$gradient-3 := linear-gradient(270deg, #8BDFAF 0%, #98659E 77.93%);
$background-1 := #060606;
$background-2 := linear-gradient(0deg, #0F0F0F, #0F0F0F);
$background-3 := #FFFFFF;
$text-1 := #050504;
$text-2 := #374B61;
$text-3 := #55677E;
$text-4 := #93A1B4;
$text-5 := #A9B7C6;
$text-6 := #D3DCE6;
$text-7 := #EFF2F7;
$text-8 := #F7F8FB;



