@import "config.styl";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

$body-font-family = 'Inter', sans-serif;
body {
  font-family: "Inter";
  font-style normal;
  color $background-3
}

a:hover
  text-decoration none

h1
  font-weight 800
  font-size 60px
  line-height 70px

h2
  font-weight 800
  font-size 44px
  line-height 55px

h3
  font-weight 600
  font-size 32px
  line-height 42px

h4
  font-weight 500
  font-size 28px
  line-height 38px

h5
  font-weight normal
  font-size 22px
  line-height 32px

.body-1
  font-weight normal
  font-size 18px
  line-height 28px

.body-2
  font-weight normal
  font-size 16px
  line-height 26px

.body-3
  font-size 14px
  line-height 26px
  font-weight 600

.body-4
  line-height 14px
  font-weight 400
  font-size 12px

.body-5
  font-weight 500
  line-height 36px
  font-size 14px

.body-6
  font-weight 700
  line-height 26px
  font-size 14px

.caption
  font-weight normal
  font-size 13px
  line-height 21px

.tiny
  font-weight normal
  font-size 10px
  line-height 14px

.nav-item-margin-right
  margin-right 45px

.brand-2
  color $brand-2

.color-text-6
  color $text-6

.color-text-7
  color $text-7

.color-text-8
  color $text-8

.fw-400
  font-weight 400

.highlight-text
  color $brand-2

.black-text
  color #050504 !important

.input-normal
  background-color: #141414 !important
  border-color: #141414 !important
  height: 56px
  margin-bottom 20px
  color #F7F8FB !important

.pr-20px
  padding-right 20px !important

.text-6
  font-weight 400
  font-size 18px
  line-height 28px
  color #D3DCE6 !important

.text-7
  font-weight 600
  font-size 16px
  line-height 21px
  color #EFF2F7 !important


.text-8
  font-weight 800
  font-size 32px
  line-height 42px
  color #F7F8FB !important

.fw-800
  font-weight 800

.divide
  width 100%
  border-bottom 0.03em solid #A9B7C6

.fw-500
  font-weight 500

.app-width
  max-width 1440px
  margin 0 auto

.white-text
  color white

@media only screen and (max-width: 600px)
  .mt-mb-36px
    margin-top 36px

  .text-mobile-center
    text-align center !important

  .justify-content-mobile-center
    justify-content center !important
